<h1 class="display-4">Artigos</h1>
<table class="table table-striped">

  <thead>
    <tr>
      <th>#</th>
      <th>titulo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% articles.forEach(function(article) { %>
       <tr>
         <td><%=article.id%></td>
         <td><%=article.title%></td>
         <td>
           <a class='btn btn-info' href='/article/edit/<%=article.id%>'>editar</a>
           <a class='btn btn-danger' href='/article/delete/<%=article.id%>'>deletar</a>           
         </td>
       </tr>
    <%})%>
  </tbody>

</table>
